################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/opengl-gol/v16
**/Debug/**
**.vcxproj**